<ion-view title="Abastecimento" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="abastecimento-form13" class="list ">
            <div id="abastecimento-button-bar16" class=" button-bar ">
                <button id="abastecimento-button84" style="font-weight:500;" class=" button button-stable  button-block ">Horímetro Atual:</button>
                <button id="abastecimento-button87" style="font-weight:500;" class=" button button-light  button-block button-outline ">16200</button>
                <button id="abastecimento-button85" class=" button button-stable  button-block ">Hora Atual:</button>
                <button id="abastecimento-button86" style="font-weight:500;" class=" button button-light  button-block button-outline ">16:00</button>
            </div>
            <div id="abastecimento-button-bar21" class=" button-bar ">
                <button id="abastecimento-button104" style="font-weight:500;" class=" button button-stable  button-block ">Hora de Início:</button>
                <button id="abastecimento-button105" style="font-weight:500;" class=" button button-light  button-block button-outline ">15:00</button>
                <button id="abastecimento-button106" class=" button button-stable  button-block ">Hora de Encerramento:</button>
                <button id="abastecimento-button107" style="font-weight:500;" class=" button button-light  button-block button-outline ">16:00</button>
            </div>
            <div id="abastecimento-button-bar20" class=" button-bar ">
                <button id="abastecimento-button100" style="font-weight:500;" class=" button button-stable  button-block ">Registradora Diesel:</button>
                <button id="abastecimento-button101" style="font-weight:500;" class=" button button-light  button-block button-outline ">43500</button>
                <button id="abastecimento-button102" class=" button button-stable  button-block ">Diesel S-500 (l)</button>
                <button id="abastecimento-button103" style="font-weight:500;" class=" button button-light  button-block button-outline ">3</button>
            </div>
            <div id="abastecimento-button-bar17" class=" button-bar ">
                <button id="abastecimento-button88" style="font-weight:500;" class=" button button-stable  button-block ">Hidráulico HV(l)</button>
                <button id="abastecimento-button89" style="font-weight:500;" class=" button button-light  button-block button-outline ">10</button>
                <button id="abastecimento-button90" class=" button button-stable  button-block ">Corrente CTM 150 (l)</button>
                <button id="abastecimento-button91" style="font-weight:500;" class=" button button-light  button-block button-outline ">3</button>
            </div>
            <div id="abastecimento-button-bar18" class=" button-bar ">
                <button id="abastecimento-button92" style="font-weight:500;" class=" button button-stable  button-block ">Óleo Motor 15W40 (l)</button>
                <button id="abastecimento-button93" style="font-weight:500;" class=" button button-light  button-block button-outline ">10</button>
                <button id="abastecimento-button94" class=" button button-stable  button-block ">Óleo Transmissão 85W140 (l)</button>
                <button id="abastecimento-button95" style="font-weight:500;" class=" button button-light  button-block button-outline ">3</button>
            </div>
            <div id="abastecimento-button-bar19" class=" button-bar ">
                <button id="abastecimento-button96" style="font-weight:500;" class=" button button-stable  button-block col-25">Descrição hidráulico &gt; 15l</button>
                <button id="abastecimento-button99" style="font-weight:500;text-align:left;" class=" button button-light  button-block button-outline col-75">Vazamento</button>
            </div>
            <div id="abastecimento-button-bar23" class=" button-bar ">
                <button id="abastecimento-button110" style="font-weight:500;" class=" button button-stable  button-block ">Lubrificação Cabine</button>
                <button id="abastecimento-button111" style="font-weight:500;" class=" button button-light  button-block button-outline ">Não</button>
                <button id="abastecimento-button112" class=" button button-stable  button-block ">Motorista</button>
                <button id="abastecimento-button113" style="font-weight:500;" class=" button button-light  button-block button-outline ">3</button>
            </div>
        </form>
        <div class="spacer" style="width: 1004px; height: 4px;"></div>
        <div id="abastecimento-button-bar24" class=" button-bar ">
            <a ui-sref="tabsController.operaO" id="abastecimento-button114" class=" button button-positive  button-block col-25 col-offset-10">Inciar Abastecimento</a>
            <button id="abastecimento-button115" class=" button button-light  button-block col-25"></button>
            <a ui-sref="tabsController.operaO" id="abastecimento-button116" class=" button button-positive  button-block col-25">Finalizar Abastecimento</a>
        </div>
        <div id="abastecimento-button-bar15" class=" button-bar ">
            <a ui-sref="tabsController.operaO" id="abastecimento-button83" class=" button button-assertive  button-block col-75 col-offset-10">Sair</a>
        </div>
    </ion-content>
</ion-view>