<ion-view title="Finalizar Turno" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="finalizarTurno-list-item-container10"></div>
        <form id="finalizarTurno-form10" class="list ">
            <label class="item item-input " id="finalizarTurno-textarea18">
                <span class="input-label">Operador:</span><textarea placeholder="">Flávio Silva</textarea>
            </label>
            <label class="item item-input " id="finalizarTurno-textarea21">
                <span class="input-label">Horímetro Atual:</span><textarea placeholder="">16200</textarea>
            </label>
            <label class="item item-input " id="finalizarTurno-textarea19">
                <span class="input-label">Hora Atual:</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="finalizarTurno-textarea20">
                <span class="input-label">Turno</span><textarea placeholder="">2</textarea>
            </label>
        </form>
        <div class="spacer" style="width: 1004px; height: 60px;"></div>
        <a ui-sref="tabsController.operaO" id="finalizarTurno-button73" class=" button button-positive  button-block col-80 col-offset-10">Encerrar Turno</a>
        <div id="finalizarTurno-button-bar12" class=" button-bar ">
            <a ui-sref="tabsController.operaO" id="finalizarTurno-button74" class=" button button-assertive  button-block col-80 col-offset-10">Sair</a>
        </div>
    </ion-content>
</ion-view>