<ion-view title="Inspeção Diária" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="inspeODiRia-list-item-container8"></div>
        <form id="inspeODiRia-form4" class="list ">
            <label class="item item-input " id="inspeODiRia-textarea4">
                <span class="input-label">Horímetro Atual:</span><textarea placeholder="">16200</textarea>
            </label>
            <label class="item item-input " id="inspeODiRia-textarea5">
                <span class="input-label">Hora Atual:</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="inspeODiRia-textarea6">
                <span class="input-label">Hora de Início</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="inspeODiRia-textarea7">
                <span class="input-label">Hora de Encerramento:</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <div class="spacer" style="width: 1004px; height: 60px;"></div>
        <button id="inspeODiRia-button45" class=" button button-positive  button-block col-80 col-offset-10">Iniciar Inspeção</button>
        <a ui-sref="tabsController.operaO" id="inspeODiRia-button46" class=" button button-positive  button-block col-80 col-offset-10">Finalizar Inspeção</a>
        <div id="inspeODiRia-button-bar8" class=" button-bar ">
            <a ui-sref="tabsController.operaO" id="inspeODiRia-button47" class=" button button-assertive  button-block col-80 col-offset-10">Sair</a>
        </div>
    </ion-content>
</ion-view>