<ion-view title="Outras Paradas" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="outrasParadas-list-item-container15"></div>
        <form id="outrasParadas-form17" class="list ">
            <label class="item item-input " id="outrasParadas-textarea40">
                <span class="input-label">Horímetro Atual:</span><textarea placeholder="">16200</textarea>
            </label>
            <label class="item item-input " id="outrasParadas-textarea41">
                <span class="input-label">Hora Atual:</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="outrasParadas-textarea42">
                <span class="input-label">Hora de Início</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="outrasParadas-textarea43">
                <span class="input-label">Hora de Encerramento:</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <form id="outrasParadas-form18" class="list ">
            <label class="item item-select " id="outrasParadas-select6">
                <span class="input-label">Tipo de Parada:</span>
                <select>
                    <option>202 - Manutenção da Garra</option>
                    <option>203 - Manutenção do Cabeçote</option>
                    <option>215- Aguardando Manutenção</option>
                </select>
            </label>
        </form>
        <div class="spacer" style="width: 1004px; height: 60px;"></div>
        <button id="outrasParadas-button121" class=" button button-positive  button-block col-80 col-offset-10">Iniciar Parada</button>
        <a ui-sref="tabsController.operaO" id="outrasParadas-button122" class=" button button-positive  button-block col-80 col-offset-10">Encerrar Parada</a>
        <div id="outrasParadas-button-bar26" class=" button-bar ">
            <a ui-sref="tabsController.operaO" id="outrasParadas-button123" class=" button button-assertive  button-block col-80 col-offset-10">Sair</a>
        </div>
    </ion-content>
</ion-view>