<ion-view title="BDT" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="bDT-button-bar10" class=" button-bar ">
            <button id="bDT-button52" class=" button button-positive  button-block col-10">Evento</button>
            <button id="bDT-button58" class=" button button-positive  button-block col-25">Descrição Evento</button>
            <button id="bDT-button57" class=" button button-positive  button-block ">Projeto</button>
            <button id="bDT-button56" class=" button button-positive  button-block col-10">Talhão</button>
            <button id="bDT-button53" class=" button button-positive  button-block col-10">Hr. Inicial</button>
            <button id="bDT-button54" class=" button button-positive  button-block col-10">Hr.Final</button>
            <button id="bDT-button55" class=" button button-positive  button-block col-10">Horímetro</button>
            <button id="bDT-button66" class=" button button-positive  button-block col-10">Produção</button>
        </div>
        <div id="bDT-button-bar11" class=" button-bar ">
            <button id="bDT-button59" class=" button button-light  button-block button-outline col-10">101</button>
            <button id="bDT-button60" class=" button button-light  button-block button-outline col-25">Inspeção Diária</button>
            <button id="bDT-button61" class=" button button-light  button-block button-outline ">Cerrado</button>
            <button id="bDT-button62" class=" button button-light  button-block button-outline col-10">3</button>
            <button id="bDT-button63" class=" button button-light  button-block button-outline col-10">7:00</button>
            <button id="bDT-button64" class=" button button-light  button-block button-outline col-10">7:15</button>
            <button id="bDT-button65" class=" button button-light  button-block button-outline col-10">16200</button>
            <button id="bDT-button67" class=" button button-light  button-block button-outline col-10">0</button>
        </div>
    </ion-content>
</ion-view>