<ion-view title="Cortar Madeira" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="cortarMadeira-list-item-container9"></div>
        <form id="cortarMadeira-form5" class="list ">
            <label class="item item-input " id="cortarMadeira-textarea9">
                <span class="input-label">Hora Atual:</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="cortarMadeira-textarea10">
                <span class="input-label">Hora de Início</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="cortarMadeira-textarea11">
                <span class="input-label">Talhão:</span><textarea placeholder="">4</textarea>
            </label>
            <label class="item item-input " id="cortarMadeira-textarea14">
                <span class="input-label">Hora de Encerramento:</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="cortarMadeira-textarea16">
                <span class="input-label">Horímetro Final:</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="cortarMadeira-textarea17">
                <span class="input-label">Produção:</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <div class="spacer" style="width: 1004px; height: 60px;"></div>
        <button id="cortarMadeira-button69" class=" button button-positive  button-block col-80 col-offset-10">Iniciar Corte</button>
        <a ui-sref="tabsController.operaO" id="cortarMadeira-button70" class=" button button-positive  button-block col-80 col-offset-10">Finalizar Corte</a>
        <div id="cortarMadeira-button-bar9" class=" button-bar ">
            <a ui-sref="tabsController.operaO" id="cortarMadeira-button71" class=" button button-assertive  button-block col-80 col-offset-10">Sair</a>
        </div>
    </ion-content>
</ion-view>