<ion-view title="Detalhamento da Manutenção" id="page16" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 1004px; height: 4px;"></div>
        <form id="detalhamentoDaManutenO-form22" class="list ">
            <label class="item item-select " id="detalhamentoDaManutenO-select12">
                <span class="input-label">Mecânico:</span>
                <select>
                    <option>6210 - João Lins</option>
                    <option>6157 - Sérgio Silva</option>
                </select>
            </label>
            <label class="item item-select " id="detalhamentoDaManutenO-select11">
                <span class="input-label">Ocorrência:</span>
                <select>
                    <option>286 - Abastecimento e Lubrificação</option>
                    <option>287 - Aquecimento</option>
                    <option>288 - Avariado</option>
                </select>
            </label>
        </form>
        <form id="detalhamentoDaManutenO-form25" class="list ">
            <label class="item item-select " id="detalhamentoDaManutenO-select13">
                <span class="input-label">Causa:</span>
                <select>
                    <option>331 - Condições Climáticas</option>
                    <option>332 - Consumido</option>
                </select>
            </label>
        </form>
        <div id="detalhamentoDaManutenO-button-bar35" class=" button-bar ">
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button154" class=" button button-light  button-block button-outline ">Componente</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button162" class=" button button-light  button-block button-outline ">Descrição</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button163" class=" button button-light  button-block button-outline ">Cód. Peça</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button164" class=" button button-light  button-block button-outline ">Qtd</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button165" class=" button button-light  button-block button-outline ">Ação</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button185" class=" button button-light  button-block button-outline ">Duração (min)</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button161" class=" button button-positive  button-block col-10">Novo</a>
        </div>
        <div id="detalhamentoDaManutenO-button-bar39" class=" button-bar ">
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button166" class=" button button-light  button-block button-outline ">4</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button167" class=" button button-light  button-block button-outline ">Alternador</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button168" class=" button button-light  button-block button-outline ">8001235</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button169" class=" button button-light  button-block button-outline ">1</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button170" class=" button button-light  button-block button-outline ">357</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button186" class=" button button-light  button-block button-outline ">15</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button171" class=" button button-light  button-block col-10"></a>
        </div>
        <div id="detalhamentoDaManutenO-button-bar37" class=" button-bar "></div>
        <div id="detalhamentoDaManutenO-button-bar40" class=" button-bar ">
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button172" class=" button button-light  button-block button-outline ">Impedimento</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button173" class=" button button-light  button-block button-outline ">Descrição</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button175" class=" button button-light  button-block button-outline ">Hora Inicial</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button176" class=" button button-light  button-block button-outline ">Hora Final</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button177" class=" button button-positive  button-block col-10">Novo</a>
        </div>
        <div id="detalhamentoDaManutenO-button-bar41" class=" button-bar ">
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button178" class=" button button-light  button-block button-outline ">P1</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button180" class=" button button-light  button-block button-outline ">Aguardando Apoio</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button181" class=" button button-light  button-block button-outline ">15:00</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button182" class=" button button-light  button-block button-outline ">15:30</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button183" class=" button button-light  button-block col-10"></a>
        </div>
        <div id="detalhamentoDaManutenO-button-bar38" class=" button-bar ">
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button160" class=" button button-positive  button-block col-33 col-offset-10">Salvar Detalhamento da Manutenção</a>
            <a ui-sref="tabsController.manutenO" id="detalhamentoDaManutenO-button184" class=" button button-assertive  button-block col-33 col-offset-10">Sair</a>
        </div>
        <div id="detalhamentoDaManutenO-button-bar36" class=" button-bar "></div>
    </ion-content>
</ion-view>