<ion-view title="Iniciar Turno" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="iniciarTurno-list-item-container7"></div>
        <form id="iniciarTurno-form1" class="list ">
            <label class="item item-select " id="iniciarTurno-select1">
                <span class="input-label">Operador</span>
                <select>
                    <option>6251 - Flávio Silva</option>
                    <option>6110 - Ronald Lima</option>
                </select>
            </label>
        </form>
        <form id="iniciarTurno-form2" class="list ">
            <label class="item item-input " id="iniciarTurno-textarea1">
                <span class="input-label">Horímetro Atual:</span><textarea placeholder="">16200</textarea>
            </label>
            <label class="item item-input " id="iniciarTurno-textarea2">
                <span class="input-label">Hora Atual:</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="iniciarTurno-textarea3">
                <span class="input-label">Turno</span><textarea placeholder="">2</textarea>
            </label>
        </form>
        <div class="spacer" style="width: 1004px; height: 60px;"></div>
        <a ui-sref="tabsController.operaO" id="iniciarTurno-button41" class=" button button-positive  button-block col-80 col-offset-10">Reportar atraso</a>
        <a ui-sref="tabsController.operaO" id="iniciarTurno-button44" class=" button button-positive  button-block col-80 col-offset-10">Iniciar Turno</a>
        <div id="iniciarTurno-button-bar7" class=" button-bar ">
            <a ui-sref="tabsController.operaO" id="iniciarTurno-button43" class=" button button-assertive  button-block col-80 col-offset-10">Sair</a>
        </div>
    </ion-content>
</ion-view>