<ion-view title="Manutenção" id="page15" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="manutenO-list-item-container16"></div>
        <form id="manutenO-form19" class="list ">
            <label class="item item-input " id="manutenO-textarea44">
                <span class="input-label">Horímetro Atual:</span><textarea placeholder="">16200</textarea>
            </label>
            <label class="item item-input " id="manutenO-textarea45">
                <span class="input-label">Hora Atual:</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="manutenO-textarea46">
                <span class="input-label">Hora de Início</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="manutenO-textarea47">
                <span class="input-label">Hora de Encerramento:</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <form id="manutenO-form20" class="list ">
            <label class="item item-select " id="manutenO-select7">
                <span class="input-label">Tipo de Parada:</span>
                <select>
                    <option>202 - Manutenção da Garra</option>
                    <option>203 - Manutenção do Cabeçote</option>
                    <option>215- Aguardando Manutenção</option>
                </select>
            </label>
        </form>
        <div class="spacer" style="width: 1004px; height: 16px;"></div>
        <button id="manutenO-button124" class=" button button-positive  button-block col-80 col-offset-10">Iniciar Manutenção</button>
        <a ui-sref="tabsController.detalhamentoDaManutenO" id="manutenO-button127" class=" button button-positive  button-block col-80 col-offset-10">Detalhar Manutenção</a>
        <a ui-sref="tabsController.operaO" id="manutenO-button125" class=" button button-positive  button-block col-80 col-offset-10">Encerrar Manutenção</a>
        <div id="manutenO-button-bar27" class=" button-bar ">
            <a ui-sref="tabsController.operaO" id="manutenO-button126" class=" button button-assertive  button-block col-80 col-offset-10">Sair</a>
        </div>
    </ion-content>
</ion-view>