<ion-view title="Operação" id="page2" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <h1 id="operaO-heading2" style="color:#000000;text-align:center;" class=" ">BDT Eletrônico HV-33</h1>
        <div class="list card " id="operaO-card24"></div>
        <div id="operaO-button-bar2" class=" button-bar ">
            <a ui-sref="tabsController.iniciarTurno" id="operaO-button20" class=" button button-stable  button-block icon-left ion-power ">Iniciar Turno</a>
            <button id="operaO-button21" class=" button button-light  button-block col-20"></button>
            <a ui-sref="tabsController.inspeODiRia" id="operaO-button22" class=" button button-stable  button-block icon-left ion-search ">Inspeção Diária</a>
        </div>
        <div id="operaO-button-bar3" class=" button-bar ">
            <a ui-sref="tabsController.cortarMadeira" id="operaO-button23" class=" button button-stable  button-block icon-left ion-ios-play ">Cortar Madeira</a>
            <button id="operaO-button24" class=" button button-light  button-block col-20"></button>
            <a ui-sref="tabsController.finalizarTurno" id="operaO-button25" class=" button button-stable  button-block icon-left ion-stop ">Encerrar Turno</a>
        </div>
        <h2 id="operaO-heading3" style="color:#000000;text-align:center;" class=" ">Paradas</h2>
        <div id="operaO-button-bar4" class=" button-bar ">
            <a ui-sref="tabsController.refeiO" id="operaO-button26" class=" button button-stable  button-block icon-left ion-fork ">Refeição</a>
            <button id="operaO-button27" class=" button button-light  button-block col-20"></button>
            <a ui-sref="tabsController.abastecimento" id="operaO-button28" class=" button button-stable  button-block icon-left ion-funnel ">Abastecimento</a>
        </div>
        <div id="operaO-button-bar5" class=" button-bar ">
            <a ui-sref="tabsController.trocarFerramentaDeCorte" id="operaO-button29" class=" button button-stable  button-block icon-left ion-wrench ">Trocar Ferramenta de Corte</a>
            <button id="operaO-button30" class=" button button-light  button-block col-20"></button>
            <a ui-sref="tabsController.manutenO" id="operaO-button31" class=" button button-stable  button-block icon-left ion-settings ">Manutenção</a>
        </div>
        <div id="operaO-button-bar6" class=" button-bar ">
            <a ui-sref="tabsController.paradasOperacionais" id="operaO-button32" class=" button button-stable  button-block icon-left ion-android-alarm-clock ">Paradas Operacionais</a>
            <button id="operaO-button33" class=" button button-light  button-block col-20"></button>
            <a ui-sref="tabsController.outrasParadas" id="operaO-button34" class=" button button-stable  button-block icon-left ion-ios-pause ">Outras Paradas</a>
        </div>
        <h2 id="operaO-heading4" style="color:#000000;text-align:center;" class=" ">Atividades em Execução___________ Informações da Máquina</h2>
        <button id="operaO-button35" class=" button button-positive  icon ion-fork "></button>
        <button id="operaO-button36" class=" button button-positive  icon ion-funnel "></button>
        <button id="operaO-button68" class=" button button-light  button-block col-50 col-offset-50">Horímetro Atual: 16252</button>
    </ion-content>
</ion-view>