<ion-view title="Paradas Operacionais" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="paradasOperacionais-list-item-container14"></div>
        <form id="paradasOperacionais-form15" class="list ">
            <label class="item item-input " id="paradasOperacionais-textarea36">
                <span class="input-label">Horímetro Atual:</span><textarea placeholder="">16200</textarea>
            </label>
            <label class="item item-input " id="paradasOperacionais-textarea37">
                <span class="input-label">Hora Atual:</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="paradasOperacionais-textarea38">
                <span class="input-label">Hora de Início</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="paradasOperacionais-textarea39">
                <span class="input-label">Hora de Encerramento:</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <form id="paradasOperacionais-form16" class="list ">
            <label class="item item-select " id="paradasOperacionais-select5">
                <span class="input-label">Tipo de Parada:</span>
                <select>
                    <option>202 - Manutenção da Garra</option>
                    <option>203 - Manutenção do Cabeçote</option>
                    <option>215- Aguardando Manutenção</option>
                </select>
            </label>
        </form>
        <div class="spacer" style="width: 1004px; height: 60px;"></div>
        <button id="paradasOperacionais-button118" class=" button button-positive  button-block col-80 col-offset-10">Iniciar Parada</button>
        <a ui-sref="tabsController.operaO" id="paradasOperacionais-button119" class=" button button-positive  button-block col-80 col-offset-10">Encerrar Parada</a>
        <div id="paradasOperacionais-button-bar25" class=" button-bar ">
            <a ui-sref="tabsController.operaO" id="paradasOperacionais-button120" class=" button button-assertive  button-block col-80 col-offset-10">Sair</a>
        </div>
    </ion-content>
</ion-view>