<ion-view title="Refeição" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="refeiO-list-item-container11"></div>
        <form id="refeiO-form11" class="list ">
            <label class="item item-input " id="refeiO-textarea22">
                <span class="input-label">Horímetro Atual:</span><textarea placeholder="">16200</textarea>
            </label>
            <label class="item item-input " id="refeiO-textarea23">
                <span class="input-label">Hora Atual:</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="refeiO-textarea24">
                <span class="input-label">Hora de Início</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="refeiO-textarea25">
                <span class="input-label">Hora de Encerramento:</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <div class="spacer" style="width: 1004px; height: 60px;"></div>
        <button id="refeiO-button75" class=" button button-positive  button-block col-80 col-offset-10">Iniciar Refeição</button>
        <a ui-sref="tabsController.operaO" id="refeiO-button76" class=" button button-positive  button-block col-80 col-offset-10">Finalizar Refeição</a>
        <div id="refeiO-button-bar13" class=" button-bar ">
            <a ui-sref="tabsController.operaO" id="refeiO-button77" class=" button button-assertive  button-block col-80 col-offset-10">Sair</a>
        </div>
    </ion-content>
</ion-view>