<ion-view title="Trocar Ferramenta de Corte" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="trocarFerramentaDeCorte-list-item-container12"></div>
        <form id="trocarFerramentaDeCorte-form12" class="list ">
            <label class="item item-input " id="trocarFerramentaDeCorte-textarea26">
                <span class="input-label">Horímetro Atual:</span><textarea placeholder="">16200</textarea>
            </label>
            <label class="item item-input " id="trocarFerramentaDeCorte-textarea27">
                <span class="input-label">Hora Atual:</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="trocarFerramentaDeCorte-textarea28">
                <span class="input-label">Hora de Início</span><textarea placeholder="">16:00</textarea>
            </label>
            <label class="item item-input " id="trocarFerramentaDeCorte-textarea29">
                <span class="input-label">Hora de Encerramento:</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <div class="spacer" style="width: 1004px; height: 60px;"></div>
        <button id="trocarFerramentaDeCorte-button78" class=" button button-positive  button-block col-80 col-offset-10">Iniciar Troca de Ferramenta</button>
        <a ui-sref="tabsController.operaO" id="trocarFerramentaDeCorte-button79" class=" button button-positive  button-block col-80 col-offset-10">Finalizar Troca de Ferramenta</a>
        <div id="trocarFerramentaDeCorte-button-bar14" class=" button-bar ">
            <a ui-sref="tabsController.operaO" id="trocarFerramentaDeCorte-button80" class=" button button-assertive  button-block col-80 col-offset-10">Sair</a>
        </div>
    </ion-content>
</ion-view>